// Import bootstrap classes so we can modify them

@import "bootstrap/dist/css/bootstrap";

// // test
// .navbar-brand {
//   font-size: 3rem;
// }

.search-area {
  padding-top: 50px;
}


.no-right-padding {
  padding-right: 0;
}


.no-left-padding {
  padding-left: 0;
}

.results-block {
  display: inline-block;
  margin-bottom: 1rem;
}
